
<form [formGroup]="categorieDetail">
    <div class="mb-3">
      <label for="exampleInputName" class="form-label">Name </label>
      <input type="text" formControlName="name" class="form-control" id="exampleInputName" aria-describedby="exampleInputName">
    </div>
    <input type="file" (change)="onFileSelected($event)" />
    <button (click)="onUpload()">Upload</button>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addCategorie()">Add categorie</button>
    </div>
 </form>

