<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<div id="app">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">MoneyGuard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" *ngIf="showAdminBoard">
          <a class="nav-link" routerLink="admin">Admin Board</a>
        </li>
        <li class="nav-item" *ngIf="showAdminBoard">
          <a class="nav-link" routerLink="admin_interface">See Providers Requests</a>
        </li>
        <li class="nav-item" *ngIf="showAdminBoard">
          <a class="nav-link" routerLink="add_employee">Add new User</a>
        </li>
        <li class="nav-item" *ngIf="showAdminBoard">
          <a class="nav-link" routerLink="add_categorie">Add new Categorie</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" routerLink="form_solution">Add a Dispense</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" routerLink="user-solutions">My Dispenses</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" routerLink="budget">My Budget</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" routerLink="dashboard">My dashboard</a>
        </li>
        <li class="nav-item" *ngIf="showFinancialBoard">
          <a class="nav-link" routerLink="reclamations-responsible">all the Clients Statics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" routerLink="register"><i class="fas fa-user-plus"></i> Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login"><i class="fas fa-sign-in-alt"></i> Login</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" routerLink="profile">{{ username }}</a>
        </li>
        <li class="nav-item">
        <li class="nav-item">
          <a class="nav-link" routerLink="notifications">
            <i class="fas fa-bell"></i>
            <span class="badge badge-pill badge-danger">3</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Log Out</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid px-0">
    <!-- Hero section -->
    <div class="jumbotron text-center bg-info text-white">
      <h1 class="display-4">Welcome to MoneyGuard</h1>
      <p class="lead">MoneyGuard: Your ultimate solution for effective personal finance management.</p>
      <hr class="my-4">
      <p>Explore our features and services. Register or log in to access more!</p>
        <span class="pub-message" style="font-size: 20px; color: #3f51b5;">
          <a [routerLink]="['/provider-application']">If you'd like to join us as a financial, you're welcome!</a>
        </span>
    </div>

    <!-- Features section -->
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Be Confident with Money Guard </h5>
              <p class="card-text">MoneyGuard ensures that all its providers are certified professionals in their respective fields.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Empowered by Machine Learning</h5>
              <p class="card-text">Powered by Machine Learning: MoneyGuard employs cutting-edge machine learning algorithms to automate expense categorization, track spending patterns, and offer tailored financial insights. It's your intelligent companion for informed financial decisions and goal achievement.</p>              
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Real-time Notifications</h5>
              <p class="card-text">Stay Informed with MoneyGuard: Our real-time notifications keep you updated on financial matters, ensuring you never miss important updates. From bill reminders to budget insights, MoneyGuard provides peace of mind with timely alerts for your financial well-being.</p>              
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Main content -->
    <div class="container mt-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

 <!-- Footer section -->
 <footer class="footer bg-dark text-white">
  <div class="container text-center">
    <span>Copyright &copy; 2024 MoneyGuard. All rights reserved.</span>
  </div>
</footer>
