<!-- Display a text message -->
<p>Solution works!</p>

<!-- Create a container for the list of services -->
<div class="container">
  <div class="row">
    <!-- Loop through the 'services' array using Angular's *ngFor directive -->
    <div *ngFor="let service of services" class="col-sm-4">
      <!-- Create a card for each service -->
      <div class="card">
        <!-- Display an image for the service -->
        <img src="http://localhost:8082/api/images/solution-{{service.id_solution}}.png" class="card-img-top img-responsive" alt="Image">
        <!-- Card content -->
        <div class="card-body">
          <!-- Display the service's title -->
          <h5 class="card-title">{{service.titleSolution}}</h5>
          <!-- Display the service's description -->
          <p class="card-text">{{service.description}}</p>
          <!-- Display the service's price -->
          <p class="card-text"><strong>Price:</strong> {{service.price | currency}}</p>
          <!-- Display the service's provider name -->
          <a [routerLink]="['/chat', service.providerUsername]" class="message-link">
            <i class="fas fa-envelope"></i> Message {{service.providerUsername}}
          </a>
          <a [routerLink]="['/calendar', service.id_solution]" class="btn btn-primary">View Calendar</a>
        </div>
      </div>
    </div>
  </div>
</div>

